.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: 100%;

  justify-content: space-around;
}

.product-img {
  width: 100%;
  height: 270px;
  object-fit: cover;

  margin-top: 10px;
}

.item {
  display: flex;
  flex-direction: column;

  align-items: center;

  box-sizing: border-box;

  width: 500px;
  height: 550px;

  padding: 20px;
  margin: 20px;

  border: 2px solid white;
  border-radius: 50px;
}

.item .title {
  text-align: center;
}

.item .info {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.info > .info-title {
  width: 50px;
  line-height: 50px;

  font-size: 17.4px;
  font-weight: 600;

  padding-left: 5px;
  padding-right: 10px;
}

.info > .info-content {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin-top: 3px;

  font-size: 15px;
  font-weight: 500;
}

.info > .info-content > li {
  list-style: none;
  text-align: left;
}

.item .link {
  display: flex;
  flex-direction: row;

  justify-content: space-around;
  box-sizing: border-box;

  width: 100%;
  height: 50px;

  padding: 5px;
}

.link > * {
  line-height: 40px;
  width: 100%;

  text-align: center;

  border-radius: 15px;
  color: white;
  text-decoration: none;
  background-color: rgb(64, 69, 78);

  margin-left: 5px;
  margin-right: 5px;

  font-size: 15px;
  font-weight: 600;
}

.link > *:hover {
  cursor: pointer;
  background-color: blueviolet;
}
